<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="preload"
      href="/assets/fonts/bedstead-extended.otf"
      as="font"
      crossorigin=""
      type="font/otf"
    />
    <link
      rel="preload"
      href="/assets/fonts/bedstead-extracondensed.otf"
      as="font"
      crossorigin=""
      type="font/otf"
    />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/css/modern.css" />
    <meta
      name="viewport"
      content="width=40ch, initial-scale=0.6, maximum-scale=2"
    />
  </head>
  <body>
    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %}
  </body>
</html>
